.testContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.questionContaiter{
  padding: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  row-gap: 114px;
}
