.errorMessage{
    background-color: #dfb2b2;
    text-align: center;
    width: 140px;
    border-radius: 10px;
    margin-left: 130px;
    margin-top: 24px;
    margin-bottom: 25px;
    padding: 18px;
}