.main {
  display: flex;
  background: rgb(58, 112, 165);
  box-shadow: 0 -200px 100px -120px rgb(163, 137, 229) inset;
  animation: background 15s infinite alternate;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.authInput {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 340px;
}

.mainText {
  position: absolute;
  top: 85px;
}

.enterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  flex-direction: column;
}

.loginContainer {
  position: relative;
  box-shadow: 10px 5px 5px gray;
  background-color: white;
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@keyframes background {
  10% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px rgb(50, 140, 205) inset;
  }
}
