.loginLanding {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(220, 188, 227);
  /* animation: background 15s infinite alternate; */
  /* box-shadow: 0 -200px 100px -120px rgb(163, 137, 229) inset; */
  height: 100vh;
}

.main {
  /* border-radius: 100px;
  height: 70vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button:hover{
  background-color: purple;
}

.authInput {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 340px;
  margin-bottom: 180px;
}

.mainText {
  letter-spacing: 4px;
  font-family: Impact, fantasy;
  color: purple;
  position: absolute;
  top: 233px;
}

.enterButton {
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
  flex-direction: column;
}

.loginContainer {
  position: relative;
  box-shadow: 10px 5px 5px gray;
  background-color: white;
  width: 600px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

@keyframes background {
  10% {
    background: skyblue;
    /* box-shadow: 0 -200px 100px -100px rgb(50, 140, 205) inset; */
  }
}
